$championships-container-width: 300px;
$championships-container-margin: 5px;
$championships-container-background: #f0f0f0;
$championships-container-border: 2px solid black;
$championships-container-border-radius: 4px;
$championship-container-border-radius: 3px;
$championship-container-margin: 4px;
$championship-container-padding: 4px;
$championship-container-background: #c0c0c0;
$championship-image-width: 60px;
$championship-image-height: 60px;
$championship-image-border-radius: 5px;

.championships-container {
  width: $championships-container-width;
  margin: $championships-container-margin;
  background: $championships-container-background;
  border: $championships-container-border;
  border-radius: $championships-container-border-radius;

  .championship-container {
    margin: $championship-container-margin;
    padding: $championship-container-padding;
    background: $championship-container-background;
    border-radius: $championship-container-border-radius;

    .championship-image {
      width: $championship-image-width;
      height: $championship-image-height;
      border-radius: $championship-image-border-radius;
    }
  }
}