<div class="national-matches-container">
    <div>
        <img class="matches-image" ng-src="{{imageUrl}}">
        <h2 class="matches-title">{{title}}</h2>
    </div>
    <div class="teams-container">
        <div class="match-container" ng-repeat="match in matches">
            <h6>{{match.date}}</h6>
            <div class="match-team-container first-match-team">{{match.firstTeam}}</div>
            <b>
                {{match.firstTeamGoal}}:{{match.secondTeamGoal}}
            </b>
            <div class="match-team-container second-match-team">{{match.secondTeam}}</div>
        </div>
    </div>
</div>