<h1>{{dashboardTitle}}</h1>
<div ng-class="{'dashboard-container': selectedChampionship.matches.length > 5}">
    <div>
        <select class="form-control championship-select"
                ng-show="championships.length > 1"
                ng-model="selectedChampionship"
                ng-options="championship.title for championship in championships"
                ng-change="getTeamsBySelectedChampionship()"></select>
        <last-matches title="selectedChampionship.title"
                      image-url="selectedChampionship.imageUrl"
                      matches="selectedChampionship.matches"></last-matches>
    </div>
    <teams-square teams="teams"></teams-square>
</div>